* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.2;
}

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background: #F8EEE4;
}

img {
  width: 100%
}

a {color:#4A4A4A; text-decoration: none;}
a:visited {color:#4A4A4A;}
a:hover {color:#4A4A4A; }
a:active {color:black;}

.wrap {
  max-width: 68rem;
  padding: 0 1rem;
  position: relative;
  margin: 0 auto;
}

.homepage-intro {
  background-color: #F4CED3;
  padding: 2rem 0;
}

.intro {
 height: auto;
 padding: 2rem 0 2rem 0;
 background: #FFC2CA;
 background-repeat: no-repeat;
 background-position: bottom;
 background-size: contain;
}

.intro-sidebar {
  overflow: hidden;
  text-align: center;
}

.intro-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(2rem / 2 * -1);
}

.intro-sidebar > * > * {
  margin: calc(2rem / 2);
  flex-basis: 14rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(66.6667% - 2rem);
}

.intro-sidebar > * > :last-child img {
  border-radius: 4px;
}

.intro__logo {
  background: url('../img/love-hair-logo-3.png') no-repeat;
  background-size: cover;
  display: block;
  height: 180px;
  width: 180px;
  margin: 0 auto;
}

.intro__cta {
  display: block;
  letter-spacing: 0.45px;
  margin: 8px auto 0 auto;
  line-height: 2em;
}

.messagebanner__wrap {
  padding: 28px 32px 16px 32px;
  border-radius: 4px;
}

.divider {
  position: absolute;
  bottom: 0px;
}

.divider img {
  width: 100%;
}

.brand {
 text-align: left;
 padding-bottom: 36px;
}

.gallery {
  background: #F9F4ED;
  padding: 4rem 0;
}

.gallery-grid {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(250px, 100%)) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
  }
}

.prices {
  background: #FFC2CA;
}

.brand__image {
  width: 100%;
}

.image-mobile {
  display: block;
  width: 100%;
}

.image-full {
  display: none;
  width: 100%;
}

.mobile-image {
  display: block;
}

.tablet-image {
  display: none;
}

.desktop-image {
  display: none;
}

.rounded-column {
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.16);
}

img.rounded-column {
  margin-bottom: 20px;
}

img.rounded-column:last-child {
  margin-bottom: 0px;
}

.column-half {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.column-white {
  background-color: #FFFFFF;
  padding: 0px 20px 28px 20px;
}

.float-right {
  float: right;
}

.column-width-cap {
  width: 100%;
}

.map {
  height: 440px;
}

.info {
  padding: 48px 0;
}

.upsell {
  background: #F7E5DD;
  text-align: left;
}

.two-column {
  font-family: 'Cutive', serif;
}

.column-left {
  width: 50%;
  position: absolute;
  display: inline-block;
  left: 0px;
  height: 520px;
  padding-top: 100px
}

.column-right {
  width: 50%;
  position: absolute;
  display: inline-block;
  right: 0px;
  height: 520px;
  padding-top: 100px
}

.opening-times {
  margin: 0 auto 40px auto;
  color: #4A4A4A;
}

.opening-times__hours {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}

.insta {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #F4CED3;
}

.insta .wrap {
  display: flex;
  flex-direction: column;
}

.insta-image {
  max-width: 200px;
  align-self: center;
}

.insta-text {
  text-align: center;
}

footer {
  background: #4A4A4A;
  min-height: 260px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 40px 0;
  color: #EBEBEB;
}

footer p a:visited {
  color: #EBEBEB;
}

.column-third {
  width: 100%;
  margin-bottom: 32px;
}

.social-icon {
  height: 28px;
  margin-right: 40px;
  display: inline-block;
}

.social-icon:last-child {
  margin-right: 0;
}

.social-icon img {
  height: 100%;
  width: auto;
}

.stack {
  --space: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery .stack {
  --space: 3rem;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

  /* Small screen retina graphics */

}

/* Media Queries */
@media only screen and (min-width: 768px) {

  .intro-sidebar {
    text-align: left;
  }

  .intro .intro__logo {
    margin: 0 auto;
  }

  .intro__logo {
    background-size: cover;
    height: 180px;
    width: 180px;
    margin: 0 auto 0 0 ;
  }

  .intro__cta {
    display: inline-block;
  }

  .brand .column-width-cap.rounded-column {
    height: 244px;
  }

  .column-half {
    width: 50%;
    display: inline-block;
    height: 100%;
  }

  .column-half.column-white {
    padding: 28px 20px 0 20px;
  }

  .gallery .column-gallery:first-child {
    margin-bottom: 0px;
  }

  .column-width-cap {
    max-width: 944px;
    display: block;
    margin: 0 auto;
  }

  .column-third {
    width: 33%;
    width: calc(100% / 3);
    height: 168px;
    display: inline-table;
  }

  .mobile-image {
    display: none;
  }

  .tablet-image {
    display: block;
  }

  .desktop-image {
    display: none;
  }

  .insta .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .insta-text, .insta-text .header {
    text-align: left;
  }

  .insta-text .header::after {
    left: 0;
  }

  .insta-image {
    margin-right: 2rem;
  }


}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px) {

  /* Tablet size retina media queries */
  .intro__logo {
    background-size: cover;
  }

}

@media only screen and (min-width: 1024px) {

  .mobile-image {
    display: none;
  }

  .tablet-image {
    display: none;
  }

  .desktop-image {
    display: block;
  }

}

@media only screen and (min-width: 1440px) {

}
