* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.2;
}

a {color:#4A4A4A; text-decoration: none;}
a:visited {color:#4A4A4A;}
a:hover {color:#4A4A4A; }
a:active {color:black;}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

/* Font Classes */
/* Buttons and small text */
.fs1 {
  color: rgba(74, 74, 74, 1);
  font-family: 'Cutive', serif;
  font-size: 0.8em;
  margin: 8px 0;
}

/* Body copy */
.fs2 {
  color: rgba(74, 74, 74, 1);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  line-height: 1.8em;
  margin: 8px 0;
}

/* Headers */
.fs3 {
  color: rgba(74, 74, 74, 1);
  font-family: 'Cutive', serif;
  font-size: 1.125em;
  line-height: 1.8em;
  margin: 20px 0 12px 0;

}

.slice {
  text-align: center;
  width: 100%;
  padding: 32px 6%;
  position: relative;
}

.intro {
 height: auto;
 padding: 40px 0 48px 0;
 background: #F7E5DD;
}

.intro__logo {
  background: url('../img/love-hair-logo-pink-138px@2x.png') no-repeat;
  background-size: cover;
  height: 120px;
  margin: 0 auto;
  width: 138px;
}

.intro__tagline {
  background: url('../img/always-cruelty-free-296px@2x.png') no-repeat;
  background-size: cover;
  height: 73px;
  margin: 24px auto;
  width: 296px;
}

button {
  padding: 18px 22px 16px 22px;
  border: none;
  border-radius: 0px;
}

button:hover {
  cursor: pointer;
}

.intro__button {
  background: #FFFFFF;
  margin: 0 auto;
  padding-top: 22px;
  display: block;
}

.intro__button:hover {
  background-color: #F5F5F5;
}

.intro__cta {
  display: block;
  letter-spacing: 0.45px;
  margin: 24px auto 0 auto;
}

.divider {
  position: absolute;
  bottom: 0px;
}

.divider img {
  width: 100%;
}

.brand {
 background: #F7E5DD;
 text-align: left;
 padding-bottom: 36px;
}

.brand__image {
  width: 100%;
}

.image-mobile {
  display: block;
  width: 100%;
}

.image-full {
  display: none;
  width: 100%;
}

.mobile-image {
  display: block;
}

.tablet-image {
  display: none;
}

.desktop-image {
  display: none;
}

.column-half {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.float-right {
  float: right;
}

.column-width-cap {
  width: 100%;
}

.link {
  margin-top: 28px;
}

.link a {
  text-transform: uppercase;
  border-bottom: 4px solid #C2ABA5;
  padding-bottom: 6px;
}

.map {
  height: 440px;
}

.info {
  padding: 48px 0;
}

.upsell {
  background: #F7E5DD;
  text-align: left;
}

.two-column {
  font-family: 'Cutive', serif;
}

.column-left {
  width: 50%;
  position: absolute;
  display: inline-block;
  left: 0px;
  height: 520px;
  padding-top: 100px
}

.column-right {
  width: 50%;
  position: absolute;
  display: inline-block;
  right: 0px;
  height: 520px;
  padding-top: 100px
}

.opening-times {
  margin: 0 auto 40px auto;
  color: #4A4A4A;
}

.opening-times__hours {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}

.instagram-feed {
  margin: 0 auto;
}

.instagram-feed a {
  text-decoration: underline;
}

#instafeed {
  margin: 20px auto;
  max-width: 480px;
  font-size: 0;
}

#instafeed a {
  width: 126px;
  height: 126px;
  display: inline-block;
}

#instafeed a img {
  width: 100%;
  height: 100%;
}

footer {
  background: #4A4A4A;
  min-height: 260px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 40px 0;
  color: #EBEBEB;
}

footer p a:visited {
  color: #EBEBEB;
}

.column-third {
  width: 100%;
  margin-bottom: 32px;
}

.social-icon {
  height: 28px;
  margin-right: 40px;
  display: inline-block;
}

.social-icon:last-child {
  margin-right: 0;
}

.social-icon img {
  height: 100%;
  width: auto;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

  /* Small screen retina graphics */

}

/* Media Queries */
@media only screen and (min-width: 768px) {

  .fs1 {
    font-size: 0.9em;
  }

  .fs2 {
    font-size: 1.125em;
  }

  .fs3 {
    font-size: 1.3125em;
    margin: 0;
  }

  .intro__logo {
    background: url('../img/love-hair-logo-pink-258px.png') no-repeat;
    background-size: cover;
    height: 224px;
    width: 258px;
  }

  .intro__tagline {
    background: url('../img/always-cruelty-free-568px.png') no-repeat;
    background-size: cover;
    height: 140px;
    margin: 24px auto;
    width: 568px;
  }

  .intro__button {
    display: inline-block;
    margin-right: 32px;
  }

  .intro__cta {
    display: inline-block;
  }

  .column-half {
    width: 50%;
    display: inline-block;
    padding: 0 20px;
  }

  .column-width-cap {
    max-width: 944px;
    display: block;
    margin: 0 auto;
  }

  .column-third {
    width: 33%;
    width: calc(100% / 3);
    height: 168px;
    display: inline-table;
  }

  .mobile-image {
    display: none;
  }

  .tablet-image {
    display: block;
  }

  .desktop-image {
    display: none;
  }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px) {

  /* Tablet size retina media queries */
  .intro__logo {
    background: url('../img/love-hair-logo-pink-258px@2x.png') no-repeat;
    background-size: cover;
  }

  .intro__tagline {
    background: url('../img/always-cruelty-free-568px@2x.png') no-repeat;
    background-size: cover;
  }

}

@media only screen and (min-width: 1024px) {

  .fs1 {
    font-size: 0.8em;
  }

  .fs2 {
    font-size: 1.1em;
  }

  .fs3 {
    font-size: 1.25em;
  }

  .mobile-image {
    display: none;
  }

  .tablet-image {
    display: none;
  }

  .desktop-image {
    display: block;
  }

}

@media only screen and (min-width: 1440px) {


}
