---
layout: default
---

<div class="homepage-intro">

  <div class="intro__image">
    <div class="stack">

      <div class="intro__logo_image">
        <div class="intro__logo">
          <img src="{{ site.baseurl }}/img/love-hair-logo-3.png" alt="" role="presentation">
        </div>
        <img src="{{ site.baseurl }}/img/shop-images/salon-4.jpg" alt="An interior picture of the salon showing the boutique seating and floor layout" class="intro__image__img">
      </div>
      {% include components/primary-button.html link="https://app.shedul.com/online_bookings/47753/link" cta="book appointment" class="intro__cta__appointment" %}
    </div>

  </div>
  <div class="wrap">

      <div class="intro__text">
          <div class="stack">
            <h1 class="intro__tagline fs-title">always cruelty free</h1>
            <p class="fs2">Vegan friendly, luxury hair care & guilt-free pampering in Urmston, Manchester</p>

            <div class="intro__ctas">
              {% include components/secondary-button.html link="/price-list" cta="price list" %}
              {% include components/secondary-button.html link="https://www.fresha.com/store/love-hair-store-qejkg5ns" cta="product store" %}
            </div>
            
          </div>
        </div>

    </div>

  </div>
</div>

{% include image-gallery.html %}
{% include map.html %}
{% include opening-hours.html %}
{% include instagram.html %}
