<div class="slice brand">

  <div class="divider"></div>

  <div class="column-width-cap">

    <div class="column-half">

      <div class="brand__image">
        <img src="{{ site.baseurl }}/img/shop-image-568px.png" class="image-full">
        <img src="{{ site.baseurl }}/img/shop-image-568px@2x.png"  class="image-mobile">
      </div>

    </div><div class="column-half">

      <div class="brand__info">

      <div class="fs3">Love hair offers luxury hair care and guilt-free pampering in a relaxing environment.</div>
      <div class="fs2">Vegan-friendly, sustainable and always cruelty-free.</div>
      <div class="link fs1"><a href="{{ site.baseurl }}/assets/price-list-dl-leaflet-outline.pdf" target="_blank">See Prices</a></div>

      </div>

    </div>

  </div>

</div>
