<div class="wrap brand">

  <div class="column-width-cap rounded-column">

    <div class="column-half">

      <div class="brand__image">

        <img src="{{ site.baseurl }}/img/intro-img-1.jpeg" class="image-full">

        <img src="{{ site.baseurl }}/img/intro-img-1.jpeg"  class="image-mobile">

      </div>

    </div><div class="column-half column-white">

      <div class="brand__info">

      <div class="fs3">Luxury hair care and guilt-free pampering in a relaxing environment.</div>

      <div class="fs2">Vegan-friendly, sustainable and always cruelty-free.</div>

      </div>

    </div>

  </div>

</div>
