    <footer>
      <div class="third-width">
        <p>76b Davyhulme Road</p>
        <p>Urmston</p>
        <p>Manchester</p>
        <p>M41 7DN</p>
      </div><!--
   --><div class="third-width">
        <a href="#" target="_blank">Book online</a>
      </div><!--
   --><div class="third-width">
        <p>Social</p>
      </div>
    </footer>

  </body>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/instafeed.min.js"></script>
<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '4726911656',
        accessToken: '640201490.ba4c844.cde0101a36db49ccb848444e1a52aaa1',
        sortBy: 'most-recent',
        limit: '6',
        clientId: '7c3e159c8bd243458a96956f24ba2d8e',
        resolution: 'low_resolution'
    });
    feed.run();
</script>

</html>
