    <footer>
      <div class="column-third">
        <p>76b Davyhulme Road</p>
        <p>Urmston</p>
        <p>Manchester</p>
        <p>M41 7DN</p>
      </div><!--
   --><div class="column-third">
        <div data-netlify-identity-menu></div>
      </div><!--
   --><div class="column-third">
       <div class="social-icon">
         <a href="https://www.facebook.com/lovehairbycharmaine/" target="_blank">
         <img src="{{ site.baseurl }}/img/facebook-logo-whiteout.png" class="image-full">
         <img src="{{ site.baseurl }}/img/facebook-logo-whiteout@2x.png"  class="image-mobile">
         </a>
       </div>
       <div class="social-icon">
         <a href="https://www.instagram.com/lovehairbycharmaine/" target="_blank">
         <img src="{{ site.baseurl }}/img/instagram-logo-whiteout.png" class="image-full">
         <img src="{{ site.baseurl }}/img/instagram-logo-whiteout@2x.png"  class="image-mobile">
          </a>
       </div>
      </div>
    </footer>

  </body>

</html>
