<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

  <head profile="http://www.w3.org/2005/10/profile">
    <title>Love Hair by Charmaine</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normaliser.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cutive|Cutive+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  </head>

  <body>
