<div class="slice gallery">

  <div class="column-width-cap">

    <div class="column-half column-gallery">
      <img src="{{ site.baseurl }}/img/intro-img-5.jpeg" class="rounded-column">
      <img src="{{ site.baseurl }}/img/intro-img-4.jpeg" class="rounded-column">
    </div><div class="column-half column-gallery">
      <img src="{{ site.baseurl }}/img/intro-img-2.jpeg" class="rounded-column">
      <img src="{{ site.baseurl }}/img/intro-img-3.jpeg" class="rounded-column">
    </div>

  </div>


</div>
