<div class="gallery">
  <div class="wrap">
    <div class="stack">
      <div class="fs-title header">the salon</div>

      <div class="gallery-grid">
        <img src="{{ site.baseurl }}/img/shop-images/hair-colour-samples.jpeg" alt="">
        <img src="{{ site.baseurl }}/img/shop-images/salon-1.jpeg" alt="">
        <img src="{{ site.baseurl }}/img/shop-images/drinks.jpeg" alt="">
        <img src="{{ site.baseurl }}/img/shop-images/salon-7.jpeg" alt="">
        <img src="{{ site.baseurl }}/img/shop-images/hair-products.jpeg" alt="">
        <img src="{{ site.baseurl }}/img/shop-images/kevin-murphy-product-shots.jpeg" alt="">
      </div>
    </div>
  </div>
</div>
