<div class="slice intro">
  <div class="intro__logo"></div>
  <div class="intro__tagline"></div>
  <a href="{{ site.baseurl }}/assets/price-list-dl-leaflet-outline.pdf" target="_blank"><button class="intro__button fs1">SEE PRICE-LIST</button></a>
  <div class="intro__cta fs1">
    Call to book: 0161 637 1950
  </div>
  <div class="divider">
    <img class="mobile-image" src="{{ site.baseurl }}/img/divider-688px.png">
    <img class="tablet-image" src="{{ site.baseurl }}/img/divider-688px.png">
    <img class="desktop-image" src="{{ site.baseurl }}/img/divider-1200px.png">
  </div>
</div>
