<div class="info">
  <div class="wrap">

    <div class="stack">

      <span class="fs-title header">Opening Hours</span>

      <ul class="opening-times__hours fs2 stack">

      {% for day in site.data.opening-hours.days %}

        {% if day.closed == true %}
        <li style="color: #E96122;">{{ day.name }}: Closed </li>

        {% elsif day.closed == false %}
        <li>{{ day.name }}: {{day.open}} – {{day.close}} {% if day.message %}<br><em>{{ day.message }}</em>{% endif %}</li>

        {% endif %}

      {% endfor %}

      <li>Bank holidays may change opening times</li>

      </ul>

  </div>
</div>