<div class="info">
  <div class="wrap">

    <div class="stack">
      <span class="fs-title header">opening hours</span>
      <ul class="opening-times__hours fs2 stack">
        <li>Monday: 9am – 5pm</li>
        <li>Tuesday: 9am – 5pm </li>
        <li style="color: #F34008;">Wednesday: – closed</li>
        <li>Thursday: 11am – 8pm</li>
        <li style="color: #F34008;">Friday – closed</li>
        <li>Saturday: 9am – 3pm<br><em>closed for one Saturday every month</em></li>
        <li>Sunday: 10am–2pm<br><em>opened once every month</em></li>
        <li>Bank holidays may change opening times</li>
      </ul>
    </div>

  </div>
</div>
