<div class="info">
  <div class="wrap">

    <div class="stack">
      <span class="fs-title header">Opening Hours</span>
      <ul class="opening-times__hours fs2 stack">
        <li style="color: #E96122;">Monday: Closed</li>
        <li>Tuesday: 12pm – 8pm </li>
        <li style="color: #E96122;">Wednesday: Closed</li>
        <li>Thursday: 11am – 8pm</li>
        <li>Friday: 9am – 5pm</li>
        <li>Saturday: 9am – 3pm<br><em>closed for one Saturday every month</em></li>
        <li>Sunday: 10am–2pm<br><em>opened once every month</em></li>
        <li>Bank holidays may change opening times</li>
      </ul>
    </div>

  </div>
</div>
