<div class="prices">

  <div class="wrap">

    <div class="price-list__title">

      <div class="price-list__header fs-title">Cut & Blow Dry</div>


      <div class="price-list__container">

        {% for item in site.data.main-services.services %}

        {% include components/pricelist-item-basic.html %}

        {% endfor %}

      </div>

    </div>

    <div class="price-list__title">

      <p class="price-list__header fs-title">Colour Menu</p>
      <p class="fs3">All colours at Love Hair contain: Crystalized micro pigments for a perfect colour, wheat proteins to repair the surface of the hair fibre, aloe vera to retain water molecules and argan oil to add shine to the hair UV filter for a long lasting colour. All colours are Vegan & cruelty free!</p>
      <p class="fs2">ALL PRICES DO NOT INCLUDE A CUT OR FINISH</p>

      <div class="price-list__container colour">


        {% for item in site.data.balayage.services reversed offset:3 limit:2 %}

          {% include components/pricelist-item-basic.html %}

        {% endfor %}

        </div>

    </div>


    <div class="price-list__title">

      <p class="price-list__header fs-title">Balayage Options</p>

      <div class="price-list__container balayage">

      {% for item in site.data.balayage.services limit:3 %}

        {% include components/pricelist-item-complex.html %}

      {% endfor %}


      </div>

    </div>

    <div class="price-list__title">

      <p class="price-list__header fs-title">Highlighting & Lowlighting</p>
      <p class="fs3">All highlighting services include a toner.</p>
      <p class="fs1">Wanting more of a pop to your highlights?</p>
      <p class="fs1">To brighten up the ends ask for a tip out for an additional £22. This technique works by carefully placing colour on the remaining weaved out hair to give the ends a sun kissed look.</p>
      <p class="fs1">Wanting to change your highlights to babylights? Add £22 on to your highlighting service.</p>
      <p class="fs1">Babylights are tiny microfine highlights that mimic the subtle dimensional hair colour seen in children’s hair. This technique leads to a much softer regrowth when growing out. People feel they can stretch their 8 week appointments slightly longer.</p>
      <p class="fs1">With all lightening services I would recommend adding K-18 to your colour which adds strength and condition to your hair for £15.</p>

      <div class="price-list__container highlowlighting">

      {% for item in site.data.highlowlighting.services %}

        {% include components/pricelist-item-basic.html %}

      {% endfor %}

      </div>

    </div>

    <div class="price-list__title">

      <p class="price-list__header fs-title">Treatments</p>

        <div class="price-list__container treatments">

        {% for item in site.data.treatments.services %}

          {% include components/pricelist-item-complex.html %}

        {% endfor %}

      </div>

    </div>

  </div>
  
</div>
