<div class="slice info">

  <div class="column-width-cap">

    <div class="column-half">

      <div class="opening-times">
        <span class="fs3">Opening</br>hours</span>
        <ul class="opening-times__hours fs2">
          <li>Tuesday: 9am–8pm</li>
          <li>Wednesday: Closed</li>
          <li>Thursday: 9am–8pm</li>
          <li>Friday: Closed</li>
          <li>Saturday: 9am–3pm</li>
          <li>Sunday: Closed</li>
          <li>Monday: Closed</li>
        </ul>
      </div>
    </div><div class="column-half">
      <div class="instagram-feed">
        <span class="fs3">Follow on Instagram</br><a href="https://www.instagram.com/lovehairbycharmaine/">@lovehairbycharmaine</a></span>
        <div id="instafeed"></div>

      </div>

    </div>

  </div>

</div>
