<div class="slice two-column">
  <div class="column-left">
    <div class="opening-times fs3">
      <span>Opening</br>hours</span>
      <ul class="opening-times__hours fs2">
        <li>Tuesday: 9am–Xpm</li>
        <li>Wednesday: 9am–Xpm</li>
        <li>Thursday: 9am–Xpm</li>
        <li>Friday: 9am–Xpm</li>
        <li>Saturday: 9am–Xpm</li>
        <li>Closed Sunday and Monday</li>
      </ul>
    </div>
  </div>

  <div class="column-right">
    <div class="instagram-feed">
      <span class="fs3">Follow on Instagram</br><a href="https://www.instagram.com/lovehairbycharmaine/">@lovehairbycharmaine</a></span>
      <div id="instafeed"></div>
    </div>
  </div>
</div>
