<div class="slice upsell">

  <div class="column-width-cap">

    <div class="column-half">

      <div class="brand__image">
        <a href="https://www.ebay.co.uk/usr/love-hair">
          <img src="{{ site.baseurl }}/img/ebay-shop-image-1280x720.png" alt="A collage showing a collection of Kevin Murphy products" class="image-full">
          <img src="{{ site.baseurl }}/img/ebay-shop-image-1280x720.png" alt="A collage showing a collection of Kevin Murphy products" class="image-mobile">
        </a>
      </div>

    </div><div class="column-half">

      <div class="fs3">Look after your hair using  our cruelty-free products.</div>
      <div class="fs2">Keep up the guilt-free pampering with the same products we use in the salon.</div>
      <div class="link fs1"><a href="https://www.ebay.co.uk/usr/love-hair" target="_blank">Go to eBay shop</a></div>

    </div>

  </div>

  <div class="clearfix"></div>

</div>
