<div class="slice upsell">

  <div class="column-width-cap">

    <div class="column-half">

      <div class="fs3">Look after your hair using  our cruelty-free products.</div>
      <div class="fs2">Keep up the guilt-free pampering with the same products we use in the salon.</div>
      <div class="link fs1"><a href="#" target="_blank">Go to eBay shop</a></div>

    </div><div class="column-half">

      <div class="brand__image">
        <img src="{{ site.baseurl }}/img/shop-image-568px.png" class="image-full">
        <img src="{{ site.baseurl }}/img/shop-image-568px@2x.png"  class="image-mobile">
      </div>

    </div>

  </div>

</div>
